.cart-page-desktop {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 1824px;
  width: 1920px;
}

.navbar-6 {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 4px 5px #00000026;
  display: flex;
  height: 96px;
  min-width: 1920px;
  padding: 0 137px;
  position: relative;
}

.flex-row-10 {
  align-items: flex-start;
  display: flex;
  height: 1328px;
  margin-left: 24.0px;
  margin-top: 87px;
  min-width: 1516px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1328px;
  width: 706px;
}

.my-cart-1 {
  height: 108px;
  letter-spacing: 0;
}

.flex-col-5 {
  align-items: flex-start;
  background-color: var(--coconut);
  border-radius: 16px;
  box-shadow: 0px 4px 5px #00000033;
  display: flex;
  flex-direction: column;
  margin-top: 89px;
  min-height: 297px;
  padding: 23px 27px;
  width: 700px;
}

.flex-row-8 {
  align-items: flex-end;
  display: flex;
  min-width: 519px;
}

.image-15 {
  height: 160px;
  width: 162px;
}

.desc-13 {
  letter-spacing: 0.55px;
  line-height: 30px;
  margin-left: 36px;
  min-height: 154px;
  width: 321px;
}

.flex-row-9 {
  align-items: center;
  display: flex;
  margin-top: 26px;
  min-width: 602px;
  position: relative;
}

.quantity-1 {
  height: 57px;
  letter-spacing: 0;
  line-height: 57px;
  margin-left: 22px;
  min-width: 22px;
  white-space: nowrap;
}

.price-13 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 9.0px;
  margin-left: 49px;
  min-width: 97px;
  white-space: nowrap;
}

.flex-col-6 {
  align-items: flex-start;
  background-color: var(--coconut);
  border-radius: 16px;
  box-shadow: 0px 4px 5px #00000033;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 297px;
  padding: 23px 27px;
  width: 700px;
}

.image-16 {
  height: 160px;
  width: 161px;
}

.desc-14 {
  letter-spacing: 0.55px;
  line-height: 30px;
  margin-left: 37px;
  min-height: 154px;
  width: 321px;
}

.flex-row-11 {
  align-items: center;
  display: flex;
  margin-top: 26px;
  min-width: 587px;
  position: relative;
}

.price-14 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 9.0px;
  margin-left: 49px;
  min-width: 82px;
  white-space: nowrap;
}

.flex-col-7 {
  align-items: flex-start;
  background-color: var(--coconut);
  border-radius: 16px;
  box-shadow: 0px 4px 5px #00000033;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 297px;
  padding: 23.0px 27px;
  width: 700px;
}

.flex-row-12 {
  align-items: flex-start;
  display: flex;
  min-width: 519px;
}

.desc-15 {
  align-self: flex-end;
  letter-spacing: 0.55px;
  line-height: 30px;
  margin-left: 36px;
  min-height: 154px;
  width: 321px;
}

.overlap-group3-3 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--coconut);
  border-radius: 16px;
  box-shadow: 0px 4px 5px #00000033;
  display: flex;
  height: 69px;
  margin-right: 6px;
  margin-top: 57px;
  min-width: 285px;
  padding: 0 30.0px;
}

.total-35699-1 {
  height: 39px;
  letter-spacing: 1.43px;
  line-height: 39px;
  min-width: 203px;
  white-space: nowrap;
}

.flex-col-8 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  margin-top: 197px;
  min-height: 405px;
  position: relative;
  width: 410px;
}

.radio-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 0.08px;
  min-height: 296px;
  width: 410px;
}

.payment-systems-option {
  align-items: flex-start;
  background-color: var(--hawkes-blue);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-height: 119px;
  padding: 10.1px 49.1px;
  position: relative;
  width: 410px;
}

.flex-row-13 {
  align-items: flex-end;
  display: flex;
  height: 33px;
  margin-left: 1.05px;
  margin-top: 3px;
  min-width: 244px;
  position: relative;
}

.credit-card-option {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 119px;
  padding: 11.3px 49.1px;
  position: relative;
  width: 410px;
}

.flex-row-14 {
  align-items: flex-start;
  display: flex;
  margin-top: 4px;
  min-width: 254px;
  position: relative;
}

.master-card-1 {
  height: 32px;
  width: 50px;
}

