.products-button {
  height: 36px;
  margin-left: 534px;
  margin-top: 6.0px;
}

.products-button.products-button-2,
.products-button.products-button-3 {
  margin-left: 438px;
  margin-top: unset;
}

