.products-page-tablet {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1824px;
  width: 1024px;
}

.navbar-4 {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 4px 5px #00000026;
  display: flex;
  height: 82px;
  min-width: 1024px;
  padding: 0 40px;
  position: relative;
}

.overlap-group5-1 {
  height: 1508px;
  margin-top: 66px;
  position: relative;
  width: 944px;
}

.right {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 2px 4px #5a5b6a3d , 0px 1px 2px #3a3a443d;
  display: flex;
  height: 1508px;
  left: 247px;
  min-width: 697px;
  padding: 0 56px;
  position: absolute;
  top: 0;
}

.overlap-group-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1484px;
  width: 263px;
}

.overlap-group4-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-height: 476px;
  padding: 14px 0;
  position: relative;
  width: 263px;
}

.image-10 {
  height: 224px;
  margin-top: 4px;
  width: 227px;
}

.desc-8 {
  letter-spacing: 0.44px;
  line-height: 24px;
  margin-top: 11px;
  min-height: 74px;
  width: 227px;
}

.price-8 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 8px;
  white-space: nowrap;
  width: 227px;
}

.additional-12 {
  height: 41px;
  letter-spacing: 0.25px;
  line-height: 20.0px;
  margin-top: 8px;
  width: 227px;
}

.overlap-group-8 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  min-height: 476px;
  padding: 14px 0;
  position: relative;
  width: 263px;
}

.additional-13 {
  height: 21px;
  letter-spacing: 0.25px;
  line-height: 20.0px;
  margin-top: 18px;
  white-space: nowrap;
  width: 227px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  min-height: 1484px;
  width: 262px;
}

.overlap-group3-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-height: 476px;
  padding: 13px 0;
  position: relative;
  width: 262px;
}

.image-12 {
  height: 224px;
  margin-top: 5px;
  width: 226px;
}

.desc-9 {
  letter-spacing: 0.44px;
  line-height: 24px;
  margin-top: 11px;
  min-height: 74px;
  width: 226px;
}

.price-9 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 8px;
  white-space: nowrap;
  width: 226px;
}

.additional-14 {
  height: 43px;
  line-height: 14px;
  margin-top: 7px;
  width: 226px;
}

.span0-2 {
  letter-spacing: 0.04px;
  line-height: 20.0px;
}

.span1-2 {
  letter-spacing: 0.01px;
  line-height: 22px;
}

.ecommerce-item-desktop-5 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px #5c6bc033 , 0px 2px 4px #3b457b33;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 30px;
  min-height: 472px;
  padding: 12px 0;
  position: relative;
  width: 258px;
}

.image-11 {
  height: 224px;
  margin-top: 4px;
  width: 226px;
}

.additional-15 {
  height: 21px;
  letter-spacing: 0.25px;
  line-height: 20.0px;
  margin-top: 18px;
  white-space: nowrap;
  width: 226px;
}

.overlap-group-9 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 476px;
  padding: 14px 0;
  position: relative;
  width: 262px;
}

.additional-16 {
  height: 41px;
  letter-spacing: 0.25px;
  line-height: 20.0px;
  margin-top: 8px;
  width: 226px;
}

